/*-------------------
    VARIABLES
-------------------*/
:root {
  --gold-color: #be9359;
  --gray-color: #b1b1b1;
  --darkgray-color: #686868;
  --container: 996px;
  --darkbg-color: #121413;
  --lightbg-color: #f5f5f5;
  --copyright-color: #161718;
}
